<% if(success && success.length) { %> 
    <div class="p-2 py-2.5 text-center mx-auto bg-[#198754] text-white rounded-md border-2 border-white flex space-x-12 w-fit items-center">
        <div class="text-xl"><%= success %> </div>
        <%- include('../../public/svg/cross.svg') %> 
    </div> 
<% } %> 
    
<% if(error && error.length) { %>
    <div class="p-2 py-2.5 text-center mx-auto bg-[#dc3545] text-white rounded-md border-2 border-white flex space-x-12 w-fit items-center">
        <div class="text-xl"><%= error %></div>
        <%- include('../../public/svg/cross.svg') %> 
    </div> 
<% } %> 

<script src="/js/closeFlash.js"></script>