<nav class="p-3 bg-white shadow-[0_5px_0_0_rgba(36,52,128,1)] flex justify-between items-center z-20">
    <div class="flex items-center space-x-2">
        <img src="/images/profile-picture.jpg" class="w-14 rounded-full border-gray-400 border-2">
        <span class="text-2xl cursor-pointer uppercase tracking-widest">Portfolio</span>
    </div>
    <ul class="hidden md:flex space-x-8 text-md font-bold mr-16 items-center text-gray-800 uppercase">
        <li class="cursor-pointer"><a href="/">Home</a></li>
        <li class="cursor-pointer"><a href="/skills">Skills</a></li>
        <li class="cursor-pointer"><a href="/projects">Projects</a></li>
        <li class="cursor-pointer bg-[#0c75ff] text-white p-2 rounded-md px-4"><a href="/contact">Contact Me</a></li>
    </ul>
    <button class="hamburger block md:hidden py-3 px-4 mx-2 rounded focus:outline-none hover:bg-gray-200">
        <div class="w-6 h-1 bg-gray-600 mb-1"></div>
        <div class="w-6 h-1 bg-gray-600 mb-1"></div>
        <div class="w-6 h-1 bg-gray-600"></div>
    </button> 

    <div class="nav-links closed absolute md:hidden top-20 left-full h-fit w-full bg-white border transition-all duration-300">
        <ul class="flex flex-col w-full text-base cursor-pointer font-bold uppercase">
            <li class="hover:bg-gray-200 py-4 px-6 w-full">
                <a href="/">Home</a>
            </li>
            <li class="hover:bg-gray-200 py-4 px-6 w-full">
                <a href="/about">About</a>
            </li>
            <li class="hover:bg-gray-200 py-4 px-6 w-full">
                <a href="/projects">Projects</a>
            </li>
            <li class="hover:bg-gray-200 py-4 px-6 w-full">
                <a href="/contact">Contact Me</a>
            </li>
        </ul>
    </div>
</nav>

<script src="/js/responsiveNavbar.js"></script>