<% layout('layouts/boilerplate') %> 

<div class="flex justify-center">
    <h1 class="uppercase text-3xl tracking-wider text-center font-b bg-[#02044a] text-white px-4 py-2 w-fit rounded-lg mt-4">Projects</h1>
</div>
<div class="flex justify-center items-center flex-wrap gap-[2em] my-4 text-white max-w-7xl mx-auto bg-[#02044a] md:px-8 md:py-8 px-4 py-4 rounded-xl">
    <div class="relative group">
        <div class="skill-bg-blur"></div>
        <div class="relative">
          <div class="rounded-lg shadow-lg md:flex md:gap-x-4">
            <div class="md:w-1/2"><img class="rounded-t-lg md:rounded-lg h-full object-cover" src="images/Projects/show.PNG" alt=""></div>
            <div class="p-4 bg-white rounded-b-lg md:rounded-lg md:w-1/2 flex flex-col">
              <h5 class="text-gray-900 text-xl font-medium mb-2">Notes App</h5>
              <p class="text-gray-700 text-base mb-4 whitespace-pre-line">Notes App is a Full Stack CRUD application. 
                 
              </p>
              <div class="mt-auto self-center">
                  <button type="button" class="bg-white text-blue-600 border-2 border-blue-600 font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:text-white hover:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-fit self-center"><a href="" class="block py-2.5 px-6" target="_blank">Live Link</a></button>
                  <button type="button" class="bg-white text-blue-600 border-2 border-blue-600 font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:text-white hover:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-fit self-center"><a href="" class="block py-2.5 px-6" target="_blank">GitHub</a></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="relative group">
        <div class="skill-bg-blur"></div>
        <div class="relative">
          <div class="rounded-lg shadow-lg md:flex md:gap-x-4">
            <div class="md:w-1/2"><img class="rounded-t-lg md:rounded-lg h-full object-contain" src="images/Projects/test.PNG" alt=""></div>
            <div class="p-4 bg-white rounded-b-lg md:rounded-lg md:w-1/2 flex flex-col">
              <h5 class="text-gray-900 text-xl font-medium mb-2">Movie Junction (Recommendation System)</h5>
              <p class="text-gray-700 text-base mb-4 whitespace-pre-line"><b>Movie Junction</b> is a website based movie        recommendation system, in which a user can get recommendations on the basis of whether they like or dislike a particular movie.
                It uses <b>content based filtering</b> to determine the top 5 similar / dissimilar movies depending upon the searched movie.
                <b>Tech Stack</b> - HTML, CSS, and JavaScript.
              </p>
              <div class="mt-auto self-center">
                <button type="button" class="bg-white text-blue-600 border-2 border-blue-600 font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:text-white hover:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-fit self-center"><a href="https://debanjan-2002.github.io/Movie-Recommender-System/" class="block py-2.5 px-6" target="_blank">Live Link</a></button>
                <button type="button" class="bg-white text-blue-600 border-2 border-blue-600 font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:text-white hover:shadow-lg focus:outline-none active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-fit self-center"><a href="https://github.com/debanjan-2002/Movie-Recommender-System" class="block py-2.5 px-6" target="_blank">GitHub</a></button>
             </div>
            </div>
          </div>
        </div>
    </div>
</div>